appdirs
asgiref==3.7.2
async-generator==1.10
atomicwrites
backports.weakref
bkcharts
brotlipy
chromedriver
clyent
conda-build
conda-repo-cli
conda-verify
constantly
cryptography
cssselect
cytoolz
daal4py==2021.6.0
datashape
Django
django-cors-headers
django-multiselectfield
djangorestframework
djangorestframework-simplejwt
et-xmlfile
exceptiongroup
fonttools
h11
inflection
llvmlite
mkl-fft
mkl-service
mpmath
munkres
mypy-extensions
mysqlclient
navigator-updater
openpyxl
outcome
pandas
patsy
pep8
Pillow
ply
protobuf
pyasn1-modules
pycosat
pycurl
PyDispatcher
PyJWT
pyls-spyder
PyMySQL
PyQt5-sip
pytest
python-http-client
python-lsp-jsonrpc
pytz
PyYAML
queuelib
scikit-learn-intelex
selenium
sqlparse
starkbank-ecdsa
torch
trio
trio-websocket
validate-email
webencodings
wsproto
zict
