body {
    background-color: #061C37 !important;
    color: white !important;
    font-family: 'Cabin', sans-serif;

}

.landing-nav {
    padding: 1.5em !important;
}

.landing-brand {
    color: white !important;
}

.landing-ul {
    color: white !important;
}

.landing-ul:hover {
    color: #7DB8FF !important;
    transition: 0.3s ease;
}

.btn-landing {
    color: white !important;
    margin-left: 2%;
}

.container-websitelist {

    padding: 2em;
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #3B6D99 !important;
}